
.tools p {
  font-size: x-small;
  margin:auto;
}


.tools{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleList {
  font-size: medium;
  padding:0.7rem;
}

h1{
  text-align: center;
  font-size: 1.875rem;
}

.techContainer {
  display: flex;
  justify-content: space-around;
}

.revealPicture:hover{
  pointer-events: none;
}


.toolsList {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.toolsList img {
  padding-right: 0.2rem;
}

.rocket {
  display: flex;
}

.item {
  display: flex;
  border: solid 1px;
  border-radius: 5px;
  padding: 0.2rem;
  border-color: black;
  background-color: rgb(119 136 153);
  transition: transform .2s;
}
.item:hover{
  transform: scale(1.25);
}

@media screen and (max-width: 900px) {

  .rocket {
    display: none;
  }
}