.tools{
  display: flex;
  flex-direction: column;
}
.tools p {
    font-size: x-small;
    margin:auto;
}

.titleList {
  font-size: medium;
  padding:0.7rem;
}
h1{
  text-align: center;
  font-size: 1.875rem;

}

.techContainer {
  display: flex;
  justify-content: space-around;
}


.toolsList {
  display: flex;
  justify-content: center;

}
.toolsList img {
  padding-left: 1rem;
  padding-right: 0.2rem;
}

.rocket {
  display: flex;
}
.item {
  display: flex;
}
.item:hover{
  color: chartreuse;
}

@media screen and (max-width: 900px) {
  
  .rocket {
    display: none;
  }
}