form {
  flex-direction: column;
  display: flex;
}

input {
  border: 1px ;
}

input, textarea{
  padding: 1rem ;
  border-radius: 1.6rem;
  background: none;
  border: 1px ;
  z-index: 1;
  color: rgb(255 255 255);
  font-weight: 600;
  background-color: darkslategrey;
}

.btn-contact:hover {

  background-color: rgb(46, 97, 31);

}

#contact {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.title {
  margin: auto;
  padding-bottom: 20px;
}

.forms{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 33rem;
  color: rgb(255 255 255);
  padding: 1rem 2rem;
  gap: 1rem;
  font-weight: 600;
}

.captcha{
  display: flex;
  justify-content: center;
}

.content {
  color: rgb(255 255 255);
  text-justify: inter-word;
  height: 10rem;
  resize: none;
}
@media screen and (max-width: 600px) {

  .forms{
    width: 20rem;
    padding: 0 ;
  }
}
@media screen and (max-width: 300px) {

  .forms{
    width: 15rem;

  }
}