.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: rgb(30 28 28 / 90%);
  position: sticky;
  top: 0;
  z-index: 1;
}

.section {
  display: flex;
  gap:1rem;
}

.section  a p{
  color: #FFFF;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  transition: filter 0.25s;
}

.section p:hover{
  text-decoration: underline;
  text-underline-position: under;
}

.logo{
  color: #FFFF;
  padding: 0.6rem;
  font-family:"Cormorant Garamond";
  font-weight: small;
  text-transform: uppercase;
  text-decoration: none;

}

.section a:link, a:visited {
  text-decoration: none;
}

.content{
  height: 10rem;
}

@media screen and (max-width: 900px) {
  .logo{
    color: #FFFF;

    font-family:"Cormorant Garamond";
    font-weight: small;
    text-transform: uppercase;
    text-decoration: none;

  }

  .container{
    padding: 17px;
    font-size: 15px;
  }
}