.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 10rem;
  background-color: rgb(30 28 28 / 90%);
  position: sticky;
  top: 0;
  z-index: 1;
}

.section {
  display: flex;
  gap:1rem;
}

.section  a {
  color: #FFFF;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  transition: filter 0.25s;
}

.section a:hover {
  color: chartreuse;
} 

.logo{
  color: #FFFF;
  padding: 0.6rem;
  font-family:"Cormorant Garamond";
  font-weight: small;
  text-transform: uppercase;
  text-decoration: none;

}

.section a:link, a:visited {
  text-decoration: none;
}

.content{
  height: 10rem;
}

@media screen and (max-width: 900px) {
  .logo{
    color: #FFFF;
  
    font-family:"Cormorant Garamond";
    font-weight: small;
    text-transform: uppercase;
    text-decoration: none;
  
  }
}