.introContainer  {
  background-color:#202020;
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  overflow-x: hidden; 
  padding-left: 11rem;
  padding-right: 12rem;
}

.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10rem;
}

.content{
  color: #ffffff;
  text-justify: inter-word;

}

.reveal{
  position: relative;
  transform: translateX(-20rem);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateX(0);
  opacity: 1;
}


.revealPicture{
  position: relative;
  transform: translateX(20rem);
  opacity: 0;
  transition: 2s all ease;
}
.revealPicture.active{
  transform: translateX(0);
  opacity: 1;
}